body {
    margin: 0;
    padding: 0;
    
}
#wrapper{
    overflow: hidden;
    position: relative;
    width: 100%;
}
.wrapper-holder{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    position: relative;
}
.picture_bg{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(../images/bg_picture.jpg) no-repeat 50% 50%;
    background-size: cover;
    z-index: 0;
}
#calculator-box{
    position: relative;
    z-index: 2;
    padding: 5px;
    display: flex;
    background: #3a4655;
    width: 90%;
    max-width: 250px;
    border-radius: 10px;
    box-shadow: 10px 10px 50px #3a4655;
    flex-wrap: wrap;
}
#calculator-box .text-box{
    padding: 0 10px;
    background: #404D5E;
    border-radius:10px;
    border: 5px solid #3C4857;
    position: relative;
    overflow: hidden;
}
.text-box .small_text{
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    display: block;
    height: 15px;
    text-align: right;
    color: #727B86;
    font-size: 18px;
    padding-bottom: 10px;
    border-bottom: dotted 1px;
}
.text-box input{
    height: 60px;
    width: 100%;
    display: block;
    margin: 0;
    padding: 5px;
    color: #fff;
    font-size: 45px;
    border: 0;
    text-align: right;
    background: none;
    box-sizing: border-box;
}
#calculator-box .button-box{
    width: 100%;
    display: flex;
}
.button-box .col{
    display: flex;
    flex-wrap: wrap;
    width: 25%;
}
.button-box .col:first-child{
    width: 75%;
}
.button-box .col:last-child button{width: 100%;}
button {
    outline: none !important;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 33.3%;
    border-radius:10px;
    background: #425062;
    color: #fff;
    font-size: 20px;
    border: 5px solid #3C4857;
    transition: all 0.2s ease-in-out;
    min-height: 50px;
}
button:hover{
    background: #4b5b70;
    transform: scale(.95);
    cursor: pointer;
    box-shadow: 0 0 10px #425062;
}
.wide_button{
    width: 66.6% !important;
}
.high_button{
    height: 150px;
}
@media only screen and (max-width: 2024px){body{min-width:300px;}}

